.product__cart__main{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product__cart__image{
    object-fit: contain;
    width: 160px;
    height: 160px;
    border: solid 1px #ccc;
}

.product__cart__details{
    padding-left: 20px;

}

.product__cart__title{
    font-size: 16px;
    font-weight: 600;

}

.product__cart__price{}

.product__cart__details > button{
    background-color: #f0c1;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}